.custom-searchbar-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 8px;
 opacity: 100%;
  --background: transparent; /* Removing default button styling */
}

ion-searchbar {
  --background: var(--M3-sys-light-surface-container-high, #ECE6F0);
  --border-radius: 28px;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  width: 360px;
  height: 56px;
}