
<ion-header *ngIf="activeTab === 'food'">
  <ion-toolbar>
    <ion-title>Food</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar *ngIf="activeTab === 'friends'">
    <ion-title>People</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar *ngIf="activeTab === 'experience'">
    <ion-title>Experience</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
     
     <ion-content>


      <div *ngIf="activeTab === 'food'">
    
        <ion-list [inset]="true">
          <ion-item *ngFor="let restaurant of searchResults.restaurants " routerLink="detailRest/{{restaurant.id}}" (click)="dismissModal()">

            
            <ion-thumbnail>
              <img [src]="restaurant.img" />
            </ion-thumbnail>
            <ion-text class="ion-padding ion-text-wrap"><h4>{{restaurant.name}}</h4>
              <span class="desc">{{restaurant.description}}</span></ion-text>
           <ion-icon slot="end"   name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item *ngFor="let dish of searchResults.dishes " routerLink="detailDish/{{dish.id}}" (click)="dismissModal()">
            <ion-thumbnail>
              <img [src]="dish.img" />
            </ion-thumbnail>
            <ion-text class="ion-padding ion-text-wrap"><h4>{{dish.name}}</h4>
              <span class="desc">{{dish.description}}</span></ion-text>
           <ion-icon slot="end"   name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item *ngFor="let ingredient of searchResults.ingredients " routerLink="detailIngr/{{ingredient.id}}" (click)="dismissModal()">
            <ion-thumbnail>
              <img [src]="ingredient.img" />
            </ion-thumbnail>
            <ion-text class="ion-padding ion-text-wrap"><h4>{{ingredient.name}}</h4>
              <span class="desc">{{ingredient.description}}</span></ion-text>
           <ion-icon slot="end"   name="chevron-forward-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="activeTab === 'friends'">
       
      
        <ion-list [inset]="true">
          <ion-item *ngFor="let person of searchResults.people " routerLink="detailPers/{{person.id}}" (click)="dismissModal()">
            <ion-thumbnail>
              <img [src]="person.profilePhoto" />
            </ion-thumbnail>
            <ion-text class="ion-padding ion-text-wrap"><h4>{{person.name}}</h4>
              <span class="desc">{{person.description}}</span></ion-text>
           <ion-icon slot="end"   name="chevron-forward-outline"></ion-icon>
          </ion-item>
        </ion-list>
    
      </div>
      <div *ngIf="activeTab === 'experience'">
       
      
        <ion-list [inset]="true">
          <ion-item *ngFor="let experience of searchResults.experiences " routerLink="detailExp/{{experience.id}}" (click)="dismissModal()">
            <ion-thumbnail>
              <img [src]="experience.img" />
            </ion-thumbnail>
            <ion-text class="ion-padding ion-text-wrap"><h4>{{experience.name}}</h4>
              <span class="desc">{{experience.descriptionSh}}</span></ion-text>
           <ion-icon slot="end"   name="chevron-forward-outline"></ion-icon>
          </ion-item>
        </ion-list>
      
      </div>
      </ion-content>