
Flavor-Fiesta-App/android/app/capacitor.build.gradle
Flavor-Fiesta-App/android/build.gradle
Flavor-Fiesta-App/android/capacitor.settings.gradle
Flavor-Fiesta-App/android/gradle/wrapper/gradle-wrapper.properties
Flavor-Fiesta-App/ionic.config.json
Flavor-Fiesta-App/android/gradle/wrapper/gradle-wrapper.properties
Flavor-Fiesta-App/android/capacitor.settings.gradle
Flavor-Fiesta-App/android/build.gradle
Flavor-Fiesta-App/android/app/capacitor.build.gradle
Flavor-Fiesta-App/android/build.gradle
Flavor-Fiesta-App/android/gradle/wrapper/gradle-wrapper.properties
Flavor-Fiesta-App/android/build.gradle
Flavor-Fiesta-App/android/gradle/wrapper/gradle-wrapper.properties
