<!-- map.component.html -->


  


<div #foodMap style="width: 100%; height: 100%;display: none;"></div>
<div #experienceMap style="width: 100%; height: 100%;display: none;"></div>
<div  #friendsMap style="width: 100%; height: 100%; display: none;">
</div>
<ion-fab  slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button   id="fab">
      <ion-icon name="navigate"></ion-icon>
    </ion-fab-button>
    <ion-toast trigger="fab" message="Content not available right now" [duration]="5000"></ion-toast>

  </ion-fab>


