ion-header {
    --background: #F3EDF7; /* or use your specific hex color */
  
  }
  
  ion-toolbar {
    --background:  #F3EDF7; /* Setting the background color */
    --padding-top: 0;
    --padding-bottom: 0;
  }
  
  ion-segment {
    --padding-start: 20px; /* Adjust padding to match the design */
    --padding-end: 20px;
    --background:  #F3EDF7; /* consistent with toolbar */
  }
  
  ion-segment-button {
    --color-selected: var(--ion-color-primary); /* Text color when selected */
    --color: var(--ion-color-dark); /* Default text color */
  }
  

  ion-button {
    --background: transparent; /* Removing default button styling */
  }
  
  ion-title {
  
    text-align: center; /* Center the title text */
    

  }
  
 
  
  
