
 

  <ion-card>
    
    <img [src]="restaurant.img"  alt="{{ restaurant?.name }}"/>

  <ion-card-header>
    <ion-card-title class="ion-text-center">{{restaurant.name}}</ion-card-title>
    <h5 class="ion-text-center"><i>{{restaurant.description}}</i></h5>
  </ion-card-header>
  
  <h4 class="ion-text-center">Rating <b>{{ restaurant?.rating }}/5</b> <ion-icon name="star"></ion-icon></h4>
 

  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
       
          <ion-button id="open-toast1" color="secondary">Save</ion-button>
         <ion-button  id="open-toast2" color="secondary">Locate</ion-button>
         <ion-toast trigger="open-toast1" message="Content Saved!" [duration]="5000"></ion-toast>

         <ion-toast trigger="open-toast2" message="Content not available right now" [duration]="5000"></ion-toast>
        </ion-row>
    </ion-grid>
    
    
  </ion-card-content>
</ion-card>
  

  <!-- Tab selection for menu, ingredients, reviews -->
  <ion-segment [(ngModel)]="selectedTab" class="segment-control">
    <ion-segment-button value="menu">
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ingredients">
      <ion-label>Ingredients</ion-label>
    </ion-segment-button>
    <ion-segment-button value="reviews">
      <ion-label>Reviews</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Menu Tab -->
  <div *ngIf="selectedTab === 'menu'" class="menu-tab">
    <ion-card *ngFor="let item of restaurant.menu">
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
        <ion-card-subtitle> {{ item.price }}€</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ item.description }}
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Ingredients Tab -->
  <div *ngIf="selectedTab === 'ingredients'" class="ingredients-tab">
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let ingredient of ingredients">
          <ion-card class="ingredient-card">
            <ion-card-header class="ingredient-header">
              <ion-card-title>{{ ingredient.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ingredient-content">
              <ion-img [src]="ingredient.img"></ion-img>
              <p class="mt-2">{{ ingredient.description }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Reviews Tab -->
<div *ngIf="selectedTab === 'reviews'" class="reviews-tab">
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let comment of comments">
        <ion-card class="review-card">
          <ion-card-header>
            <ion-avatar slot="start">
              <img [src]="comment.userImg" alt="User image">
            </ion-avatar>
            <ion-card-title>{{ comment.username }}</ion-card-title>
            <ion-card-subtitle>{{ comment.timestamp | date: 'medium' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="review-content">
            <p>{{ comment.content }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


